@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #DADDE2;
  --fonte-principal: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/SP.jpg");
  background-repeat: no-repeat;
}

.container {
  background-color: var(--preto);
  opacity: 0.8;
  color: var(--branco);
  border-radius: 12px;
  padding: 1em;

}

.container__pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 1em;
}

.container__pesquisa img {
  width: 20px;
}

.container__pesquisa button {
  background-color: var(--cinza);
  border: none;
  border-radius: 50%;
  scale: 2.5;
  opacity: 0.3;
  width: 20px;
  height: 20px;
}

.container__pesquisa input {
  padding: 0.3em;
  width: 350px;
  border: none;
  background-color: var(--cinza);
  opacity: 0.3;
  border-radius: 12px;
  font-size: 1.5rem;
  align-self: flex-start;
  color: var(--preto);
  font-weight: 700;
}


.container__pesquisa button:hover {
  scale: 2.6;
  transition: 0.8s;
}
.container__pesquisa input:hover {
  scale: 1.01;
  transition: 0.8s;
}

.container__info h2{
  padding: 0.5em 0 1.5em 0;
}

.container__info-add {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
  padding: 1.5em 0;
}

.nuvens {
  text-transform: capitalize;
}

@media screen and (max-width: 720px) {
.container__pesquisa {
  gap: 20px;
  }

  .container__pesquisa input {
    width: 250px;
  }
}